@media only screen and (max-width: 780px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }



    body {
        overflow-x: hidden;
        padding: auto;
        margin: auto;
    }

    .FirstSection {
        flex-direction: column-reverse;
    }

    .leftSection {
        margin-top: 0px;
        width: 90%;
        padding: 30px;
        font-size: 2.5rem;
        margin-left: 10px;
    }

    .rightSection {
        width: 60%;
    }

    .Secondsection div {
        margin: 0px;
        padding: 0px;
        margin-bottom: 20px;
        font-size: 25px;
    }

    .ThirdSection table,
    th,
    td {
        border: 2px solid rgb(107, 71, 206);
        padding: 5px;
        border-collapse: collapse;
    }
}

@media only screen and (max-width: 560px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    /* Transform the lines to create a hamburger menu effect */
    .hamburger.open .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.open .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    body {
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }

    .FirstSection {
        flex-direction: column-reverse;
    }

    .leftSection {
        font-size: 2rem;
        margin: 10px;
    }

    .Secondsection div {
        font-size: 20px;
        text-align: center;
        margin: 0px;
        padding-left: 0px;
        margin-bottom: 20px;
    }

    .ThirdSection table {
        width: 90vw;
        margin: 5p;
        padding: 0;
    }

    .container {
        width: 80%;
        background-color: #ddd;
        margin: 20px;
        margin-left: 50px;
    }

    .ThirdSection table,
    th,
    td {
        border: 2px solid rgb(107, 71, 206);
        padding: 0px;
        border-collapse: collapse;
    }

    .Fifthsection {
        margin: 50px 40px 50px;
    }

    .Fifthsection p {
        font-size: 15px;
    }
    .Fifthsection a{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    /* Transform the lines to create a hamburger menu effect */
    .hamburger.open .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.open .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    body {
        overflow-x: hidden;
        padding: auto;
        margin: auto;
    }

    .FirstSection {
        flex-direction: column-reverse;
    }


    .Secondsection div {
        font-size: 20px;
        text-align: center;
        margin: 0px;
        margin-left: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    main hr {
        margin-left: 40px;
    }

    .ThirdSection table {
        width: 30vw;
        margin: 0p;
        padding: 0;
    }

    .container {
        width: 80%;
        background-color: #ddd;
        margin: 20px;
        margin-left: 60px;
    }

    .ThirdSection table,
    th,
    td {
        border: 2px solid rgb(107, 71, 206);
        padding: 0px;
        border-collapse: collapse;
    }

    .SixthSection form ul {
        max-width: 350px;
    }

    .name {
        max-width: 200px;
    }

    .email {
        max-width: 200px;
    }

    .message {
        max-width: 200px;
    }
    .Fifthsection {
        margin: 50px 30px 50px;
    }
    .Fifthsection h3{
        margin: 10px;
        font-size: 20px;
    }

    .Fifthsection p {
        font-size: 15px;
        margin: 10px;
    }
    .Fifthsection a{
        font-size: 0.8rem;
    }

    .SixthSection form ul li {
        padding-left: 80px;
    }
}
@media only screen and (max-width: 370px) {
    .card{
        height: 65vmin;
    }
    
}
